{
  order rate_limit before handle
	email {$ACME_EMAIL}
	acme_ca {$ACME_CA:https://acme-v02.api.letsencrypt.org/directory}
	on_demand_tls {
		ask http://{$STATUS_PAGE_UPSTREAM}/api/status-page/ask?token={$STATUS_PAGE_ASK_SECRET}
	}
}

import routes.caddy

*.{$STATUS_PAGE_DOMAIN} {
  tls {
    dns namecheap {
      api_key {env.DNS_API_TOKEN}
      user {env.DNS_API_USER}
      api_endpoint https://api.namecheap.com/xml.response
      client_ip {env.DNS_CLIENT_IP}
    }
  }
  import tier1_routes
}

https:// {
	tls {
		on_demand
	}
	import tier2_routes
}
